<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} | gtfs_engine</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/models.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/table_of_contents.css">
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.toc %}
      <script src="{{ site.url }}/javascripts/table_of_contents.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        document.addEventListener( 'DOMContentLoaded', function() {
          var elem = document.querySelector( 'div.wrapper section' );
          createToc( elem, '{{ page.toc }}' === 'removeTopLevel' );
        } );
        //]]>
      </script>
    {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}">gtfs_engine</a></h1>
        <p>A RESTful interface for GTFS data.</p>
        <p class="view"><a href="https://github.com/sangster/gtfs_engine">View the Project on GitHub <small>sangster/gtfs_engine</small></a></p>
        <ul>
          <li><a href="https://github.com/sangster/gtfs_engine/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/sangster/gtfs_engine/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/sangster/gtfs_engine">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

<section>
{{ content }}
</section>

    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/sangster">sangster</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      {% if page.cite_google == true %}
        <div class="cite_google">{% include cite_google.html %}</div>
      {% endif %}
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
